/static/.symlnklog
/static/aa
/static/absori
/static/abund
/static/shell
/static/bash
/static/zsh
/static/variable
/static/var
/static/test
/static/redirect
/static/escape
/static/bbody
/static/bremss
/static/cl
/static/confidence
/static/cpp
/static/crontab
/static/cxo
/static/debian
/static/dis45x
/static/ecl
/static/edge
/static/eps
/static/fapropos
/static/fdiff
/static/fg
/static/ftest
/static/gmake
/static/grep
/static/gunzip
/static/gzip
/static/heasoft
/static/kbanner
/static/kill
/static/latex
/static/luminosity
/static/makepi
/static/mule
/static/novae
/static/opticaldepth
/static/txt
/static/paper
/static/paper_acknowledgement
/static/paper_cite
/static/paper_final_checks
/static/paper_impact_factor
/static/power-law
/static/pyraf
/static/reboot
/static/renice
/static/sigma
/static/sjoin
/static/slogin
/static/tkdiff
/static/xemacs
/static/xmm-newton
/static/xmm
/static/xsp